<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h5>Hello <%= @user.name %>!</h5>
    <p>Thanks for trying out our product: Movers.</p>
    <p>We’re thrilled to have you on board.</p>
  </body>
</html>