<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    
<h3>Hello <%= @user.name %>!</h3>
<h3>Thanks for trying out our product: Movers.</h3>
<h3>We’re thrilled to have you on board.</h3>

  </body>
</html>

