<div id="<%= dom_id rating %>">
  <p>
    <strong>Booking:</strong>
    <%= rating.booking_id %>
  </p>

  <p>
    <strong>Rating:</strong>
    <%= rating.rating %>
  </p>

  <p>
    <strong>Review:</strong>
    <%= rating.review %>
  </p>

</div>
